<div class="about-section">
	<div class="section-wrapper">
		<ul class="safe-fare-breadcrumb">
			  <li><a href="/">Home > </a></li>
			  <li><a href="" class='active'> About SafeFARE</a></li>
			 
		</ul>
		<div class="col-sm-8 col-xs-12">
			<h2 class="orange-header">About SafeFARE</h2>
			<p class='padding-top'>Enjoying restaurant meals with friends and family doesn’t have to be off limits just because you have a food allergy. With the right planning and preparation, eating out can still be an enjoyable part of your life. That’s why <a href='http://www.foodallergy.org'>Food Allergy Research &amp;Education (FARE)</a> – the nation’s leading organization working on behalf of the 15 million Americans with food allergy – has created the SafeFARE program.</p>
			<p class='padding-top'>If you or someone you love has a food allergy – or if you’re a restaurant or foodservice professional committed to accommodating diners with food allergies–SafeFARE offers tools and resources that help create a safer dining experience:</p>
				<ul>
					<li><p><a href='/find-a-restaurant'>Find a Restaurant</a> – Use our searchable database to find food allergy aware restaurants near you. Staff at these restaurants have completed the industry’s most trusted food allergy training programs: the National Restaurant Association’s <a href='http://www.servsafe.com/allergens'>ServSafe® Allergens Online Course</a> or <a href='http://www.menutrinfo.com/allergy-training/'><a href='http://www.servsafe.com/allergens'>ServSafe® Allergens Online Course</a> or <a href='http://www.menutrinfo.com/allergy-training/'>MenuTrinfo’s AllerTrain™</a> course.
					</p></li>
				</ul>
		</div>
		<div class="col-sm-4 col-xs-12">
			<%= image_tag("thumb-placeholder.png",class:"PSA", :alt => "temp thumbnail") %>
			<p style='width: 85%; margin: auto;'class='padding-top'>Watch our “Food Allergy Teamwork” PSA featuring celebrity chefs Mike Isabella and Spike Mendelsohn! </p>
		</div>
	</div>
</div>
<div style='clear:both'></div>
