<div class="about-section">
	<div class="section-wrapper">
		<ul class="safe-fare-breadcrumb">
			  <li><a href="/">Home > </a></li>
			  <li><a href="" class='active'> About SafeFARE</a></li>
			 
		</ul>
		<div class="col-sm-8">
			<h2 class="orange-header">About SafeFARE</h2>
			<p>Lorem Ipsem Latin TextLorem Ipsem Latin Text Lorem Ipsem Latin Text Lorem Ipsem Latin Text Lorem Ipsem Latin Text</p>
			<p>Lorem Ipsem Latin TextLorem Ipsem Latin Text Lorem Ipsem Latin Text Lorem Ipsem Latin Text Lorem Ipsem Latin Text</p>
		</div>
		<div class="col-sm-4">
			<%= image_tag("thumb-placeholder.png", :alt => "temp thumbnail") %>
			<p>text text text text text text text text text text text text text text text text text text text text text text text </p>
		</div>
	</div>
</div>
<div style='clear:both'></div>
