<div class="about-section">
	<div class="section-wrapper">
		<ul class="safe-fare-breadcrumb">
			  <li><a href="/">Home > </a></li>
			  <li><a href="" class='active'>About SafeFARE</a></li>
		</ul>
		<div class="col-sm-8 col-xs-12">
			<h1 class="orange-header">About SafeFARE</h1>
			<p>Enjoying restaurant meals with friends and family doesn&#8217;t have to be off limits just because you have a food allergy. With the right planning and preparation, eating out can still be an enjoyable part of your life. That&#8217;s why <a href="http://foodallergy.org" rel="external" title="http://foodallergy.org">Food Allergy Research & Education (FARE)</a> &#8211; the nation&#8217;s leading organization working on behalf of the 15 million Americans with food allergy &#8211; has created the SafeFARE program.</a></p>
			<p>If you or someone you love has a food allergy &#8211; or if you&#8217;re a restaurant or foodservice professional committed to accommodating diners with food allergies &#8211; SafeFARE offers tools and resources that help create a safer dining experience:</p>
			<hr>
			<div class="row">
				<div class="col-sm-3">
					<a href="/find-a-restaurant"><div class="find-a-button"></div></a>
				</div>
				<div class="col-sm-9 col-xs-12">
					<h2><a href="/find-a-restaurant">Find a Restaurant</a></h2>
					<p>Use our searchable database to find food allergy aware restaurants near you. Staff at these restaurants have completed the industry&#8217;s most trusted food allergy training programs: the National Restaurant Association&#8217;s <a href="http://www.servsafe.com/allergens" rel="external" title="http://www.servsafe.com/allergens">ServSafe&reg; Allergens Online Course</a> or <a href="http://www.menutrinfo.com/allergy-training/" rel="external" title="http://www.menutrinfo.com/allergy-training/">MenuTrinfo&#8217;s AllerTrain&trade;</a> course.</p>
					<p><strong>Restaurants:  Do you have staff members who have completed these courses? <a href="/for-restaurants">Add your restaurant to our database!</a></strong></p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-3">
					<a href="/for-diners"><div class="resources-button"></div></a>
				</div>
				<div class="col-sm-9 col-xs-12">
					<h2><a href="/for-diners">Food Allergy Resources</a></h2>
					<p>Explore our resource library for expert advice and information about dining out with food allergies&#8211;including a chef card that you can download and personalize.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-xs-12 right-section">
			<a class='contact-link' href="/about/contact-us">
				Contact Us
			</a>
			<%= image_tag("thumb-placeholder.png",class:"PSA", :alt => "temp thumbnail") %>
			<p style='width: 85%; margin: auto;'class='padding-top'>Watch our “Food Allergy Teamwork” PSA featuring celebrity chefs Mike Isabella and Bryan Voltaggio!</p>
		</div>
	</div>
</div>
<div style='clear:both'></div>
