<div class="diners-section">
	<div class="section-wrapper">
		<ul class="safe-fare-breadcrumb">
			  <li><a href="/">Home > </a></li>
			  <li><a href="/for-diners" class='active'>For Diners</a></li>
		</ul>
		<div class="col-sm-8 col-xs-12">
			<h1>For Diners</h1>

			<p>Whether your plans call for dinner at a hot new restaurant or lunch at the neighborhood diner, being prepared is the key to eating out safely with food allergies. Calling in advance, bringing a chef card (like the one below) and choosing a food allergy aware restaurant are a few of the things you can do to make your experience safe and enjoyable. And of course, bringing along your emergency medications will give you peace of mind.</p>
			<hr>
			<h2>Tools</h2>
			<p>Food Allergy Research & Education (FARE) created the SafeFARE program to give you the tools you need to enjoy eating out with family and friends. Follow the links below to find important information about managing food allergies while dining out. Bon apétit!</p>
			<ul>
				<li><a href="http://www.foodallergy.org/managing-food-allergies-at/dining-out/before-you-go" rel="external" title="http://www.foodallergy.org/managing-food-allergies-at/dining-out/before-you-go">Before You Go</a></li>
				<li><a href="http://www.foodallergy.org/managing-food-allergies-at/dining-out/calling-the-restaurant" rel="external" title="http://www.foodallergy.org/managing-food-allergies-at/dining-out/calling-the-restaurant">Calling the Restaurant</a></li>
				<li><a href="http://www.foodallergy.org/managing-food-allergies-at/dining-out/at-the-restaurant" rel="external" title="http://www.foodallergy.org/managing-food-allergies-at/dining-out/at-the-restaurant">At the Restaurant</a></li>
				<li><a href="http://www.foodallergy.org/managing-food-allergies-at/dining-out/insiders-guide" rel="external" title="http://www.foodallergy.org/managing-food-allergies-at/dining-out/insiders-guide">&#8220;Insider&#8217;s Guide to Dining Out&#8221; by Chef Joel Schaefer</a></li>
				<li><a href="#" rel="external" title="#">Find Allergy Aware Restaurants</a></li>
				<li><a href="http://www.foodallergy.org/managing-food-allergies-at/dining-out/training-for-restaurant-employees" rel="external" title="http://www.foodallergy.org/managing-food-allergies-at/dining-out/training-for-restaurant-employees">Allergen Training for Restaurant Staff</a></li>
			</ul>
				<div><a href="http://www.foodallergy.org/document.doc?id=230" rel="external" title="http://www.foodallergy.org/document.doc?id=230">Download a PDF of all dining out resources</a></div>
				<div><a href="http://www.foodallergy.org/document.doc?id=219" rel="external" title="http://www.foodallergy.org/document.doc?id=219">Download a chef card</a></div>
			<hr>
			<h2>Helpful Resources</h2>
			<p>Print or email these flyers to let restaurants in your area know about food allergy training programs:</p>
			<ul>
				<li><a href="http://www.foodallergy.org/document.doc?id=226" rel="external" title="http://www.foodallergy.org/document.doc?id=226">ServSafe&reg; Allergens Online Course (National Restaurant Association)</a></li>
				<li><a href="http://www.foodallergy.org/document.doc?id=262" rel="external" title="http://www.foodallergy.org/document.doc?id=262">AllerTrain&trade; Classes (MenuTrinfo)</a></li>
			</ul>
			<hr>
			<h2>Ingredient Quiz – Test Your Knowledge!</h2>
			<p>Think you know all there is to know about meal ingredients that might turn up in a restaurant? Download the following quiz, put together by Chef Joel Schaefer, to see how much you really know.</p>
			<ul>
				<li><a href="http://www.foodallergy.org/document.doc?id=222" rel="external" title="http://www.foodallergy.org/document.doc?id=222">Quiz</a></li>
				<li><a href="http://www.foodallergy.org/document.doc?id=221" rel="external" title="http://www.foodallergy.org/document.doc?id=221">Answer key. No cheating!</a></li>
			</ul>
		</div>
		<div class="col-sm-4 col-xs-12 right-section">
			<%= image_tag("thumb-placeholder.png",class:"PSA", :alt => "temp thumbnail") %>
			<p style='width: 85%; margin: auto;'class='padding-top'>Watch our “Food Allergy Teamwork” PSA featuring celebrity chefs Mike Isabella and Spike Mendelsohn!</p>
		</div>
	</div>
</div>
<div style='clear:both'></div>
