<div class="home">
	<div class="info-section">
		<div class="section-wrapper">
			<div class="grad-a"></div>
			<div class="grad-b"></div>
			<div class="home-background"></div>
			<div class="info-box col-sm-12 no-padding">
				<div class="col-sm-4 col-xs-12 about left no-padding">
					<div class="cont">
						<h1 class='orange-header'>About SafeFARE</h1>
						<p>If you are managing food allergies or are a restaurant professional, SafeFARE provides tools and resources to help you create a safer, more enjoyable dining experience.</p><br>
						<p>This program is brought to you by Food Allergy Reasearch and Education (FARE) - the nation's leading organization working on behalf of the 15 million Americans with food allergies.</p>
					</div>	
				</div>
				<div class="col-sm-4 col-xs-12 vid left no-padding" >
					<%= image_tag("thumb-placeholder.png", :alt => "temp thumbnail") %>
				</div>
				<div class="col-sm-4 for-restaurant left no-padding">
					<div class="cont">
						<h1 class='orange-header'>For Restaurants</h1>
						<p>Have you completed the SafeFARE Allergens Online Course or Allertrain? Add your restaurant to our searchable database by setting up a free account.</p>
						<div class="nav-link">
							<%= link_to "Sign Up Here", new_user_registration_path %> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
