<div class="search">
	<div class="section-wrapper">
		<div class="safeFare-icon left col-sm-6 col-xs-12" style='padding:0px;'><%= image_tag("logo.gif", :alt => "temp logo") %></div>
		<div class="safeFare-search right col-sm-6 col-xs-12" style='padding:0px;'>
			<h2 class='small-thick'>Find a Restaurant</h2>
			<p>Locate a food allergy aware restaurant near you.</p>
			<input type="text" name="fname" id='cuisine'>
			<input type="text" name="fname" id='free-text' >
			<input type="submit" name="fname" data-role='none'id='submit-search'>
		</div>
	</div>
</div>
<div class="nav-full-bar">
	<div class="section-wrapper">
		<ul>
			<li>Home</li>
			<li>Find a Restaurant</li>
			<li>For Diners</li>
			<li>For Restaurants</li>
		</ul>
	</div>
</div>
<div class="info-section">
	<div class="section-wrapper">
		<div class="info-box col-sm-12">
			<div class="col-sm-4 for-restaurant right"><div class="cont"><h1 class='thin'>For Restaurants</h1></div></div>
			<div class="col-sm-4 col-xs-12 vid right" >Video</div>
			<div class="col-sm-4 col-xs-12 about right"><div class="cont"><h1 class='thin '>About</h1></div></div>
		</div>
	</div>
</div>
<div class="footer-section">
	<div class="section-wrapper">
		<div class="contact-links left"></div>
		<div class="food-allergy-links right"></div>
	</div>
</div>