<div class="contact-section">
	<div class="section-wrapper">
		<ul class="safe-fare-breadcrumb">
			  <li><a href="/">Home > </a></li>
			  <li><a href="/about">About > </a></li>
			  <li><a href="/about/contact-us" class='active'> Privacy Policy</a></li>
		</ul>
		<div class="col-sm-8 col-xs-12">
			<h1>Privacy Policy</h1>
			<h2>Introduction</h2>
			<p>The mission of FARE (Food Allergy Research &amp; Education) is to raise public awareness, to provide advocacy and education, and to advance research on behalf of all those affected by food allergies and anaphylaxis. The Food Allergy Research &amp; Education website provides information, resources, referrals, and data intended to assist the public in managing life-threatening food allergies. The website also provides information for healthcare professionals and offers opportunities for volunteering in Food Allergy Research &amp; Education fundraising events.</p>
			<h2>Contact Information, Accessing, and Correcting Your Personal Information</h2>
			<p>If you have any questions about this Policy or you wish to review or correct your or your child&#8217;s personal information, you may contact us by U.S. mail, e-mail, or telephone at the addresses and numbers listed below.</p>
			<p>Food Allergy Research &amp; Education (FARE)<br /> 7925 Jones Branch Drive, Suite 1100 <br /> McLean, VA 22102</p>
			<p>email: <a href="mailto:contactfare@foodallergy.org">contactfare@foodallergy.org</a> &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160; &#160;</p>
			<p>Telephone: (800) 929-4040&#160;</p>
			<h2>Our Commitment to Privacy</h2>
			<p>We at Food Allergy Research &amp; Education recognize the importance of protecting your privacy. The purpose of this notice is to explain the practices and procedures we implement to protect your personal information, the way we use this information, and the choices you can make regarding our use of your personal information. This notice may be accessed by clicking on a &#8220;Privacy Policy&#8221; link that appears on each page of our website. Food Allergy Research &amp; Education is committed to protecting your privacy and will honor this Policy.</p>
			<h2>Changes to this Policy</h2>
			<p>Food Allergy Research &amp; Education reserves the right to change this Policy at any time. To better serve you and your concerns about your privacy, we will notify you of any changes to this Policy by posting a notice prominently on the main page of our website (<a href="http://www.foodallergy.org/">http://www.foodallergy.org</a>) indicating that there has been a change or update to the Privacy Policy. We encourage you to read this Policy.</p>
			<h2>The Information We Collect and How We Use It</h2>
			<p>You may browse Food Allergy Research &amp; Education websites without submitting personal information.&#160;However, if you choose to sign up for one of our e-mail lists; become a member; purchase products; or participate in an event, contest, or program, you will be asked for applicable personal data such as your name, gender, postal address, e-mail address, phone number, fax number, payment information, relationship to food allergies, and date of birth. The purpose of collecting such data is to assist FARE in contacting individuals and to collect payments made online. Food Allergy Research &amp; Education also uses this personal information to advise users of new online materials, activities, and events, and to provide users with the opportunity to contribute to local and national programs and research initiatives.</p>
			<p>Food Allergy Research &amp; Education also collects personal&#160;information offline from volunteers, donors, and event participants.&#160;Such information may include name, address, telephone number, e-mail address, age, and information regarding the donation.&#160;The information is collected through offline registration forms, telemarketing appeals, and postal appeals. Food Allergy Research &amp; Education uses this personal information to inform volunteers and donors of new materials, and activities and events that offer the opportunity to contribute to local and national programs and research initiatives.</p>
			<h2>Personal Health-Related Information</h2>
			<p>Personal information included in specific questions submitted to Food Allergy Research &amp; Education is used solely as internal market research to help us better serve you. All other information entered on this site is used for aggregate demographic analysis only and no personally identifiable information is included in these analyses. Records are used to create aggregate reports for internal use only and are purged after one calendar year from the date of entry. &#160;</p>
			<h2>Payment Information</h2>
			<p>Payment information, such as credit card number and expiration date, is entered upon completion of &#160;a sale or registration that requires a fee. Food Allergy Research &amp; Education uses Global Payments and Verisign as third-party intermediaries to process your online donations and payments. Your credit card information is encrypted when submitted to the processor and transmitted over a secure connection between your computer and our server using Secure Socket Layers (SSL), the industry standard, to ensure protection of your private information. This sensitive personal information is not shared with third parties other than the processor and is stored by Food Allergy Research &amp; Education for verification purposes or for recurring donations that you have authorized.</p>
			<h2>Cookies, Gifs, Logs</h2>
			<p>Cookies are small text files that a website can place on a visitor&#8217;s computer hard drive to recognize repeat visitors, to facilitate a visitor&#8217;s use of the site and to track a visitor&#8217;s access to and use of the site.</p>
			<p>Food Allergy Research &amp; Education uses cookies to collect demographic data that help us better advertise our mission, programs, and events to potential visitors and to improve the functionality of the website and the experience for those who use our site. We receive data that includes the IP addresses, browser types, date/time stamp, donations, and sign-up information of visitors to our site.</p>
			<p>In addition, Food Allergy Research &amp; Education uses cookies to allow us to track which other websites have linked visitors to our site, what pages of our site are used by and are of interest to those visitors, and to link to information those visitors provide to Food Allergy Research &amp; Education when they donate or sign up to take part in our programs and events. <br /> <br /> Cookies are used in the site in order to remember the user&#8217;s name. Sites containing other programs run by Food Allergy Research &amp; Education may contain information as to how cookies are used on those sites.</p>
			<h2>Sharing Your Information with Third Parties</h2>
			<p>Food Allergy Research &amp; Education never shares your e-mail addresses with third parties without your consent.&#160;Personal information collected from our donation pages is never shared with third parties.&#160;</p>
			<p>If you are a <em>California resident</em>, please click <a href="http://www.marchofdimes.com/aboutus/28342_4076.asp?link=footer#california">here</a> to view &#8220;Your Privacy Rights&#8221; under California law.</p>
			<h2>Public Forums</h2>
			<p>Food Allergy Research &amp; Education advises users that personal information posted on the website is accessible only to members.</p>
			<h2>Children&#8217;s Online Privacy Protection Act Compliance</h2>
			<p>We are in compliance with the requirements of COPPA (Children&#8217;s Online Privacy Protection Act); we do not collect any information from anyone under 13 years of age. Our website, products, and services are all directed to people who are at least 13 years old or older.</p>
			<h2>Opting-Out of Future Food Allergy Research &amp; Education Communications</h2>
			<p>You may opt out of Food Allergy Research &amp; Education communications at any time by contacting <a href="mailto:contactfare@foodallergy.org">contactfare@foodallergy.org</a>.</p>
			<p>Food Allergy Research &amp; Education reserves the right to acknowledge your donation. If you have subscribed to any newsletter or publication published by Food Allergy Research &amp; Education, you may unsubscribe by following the instructions in the e-mail to which you subscribed. You may also remove yourself from Food Allergy Research &amp; Education e-mail list by contacting us via e-mail at: <a href="mailto:contactfare@foodallergy.org">contactfare@foodallergy.org</a>.</p>
			<p>Please send us your name, phone number, and e-mail and postal addresses and which communications &#160;you would like to opt-out of from Food Allergy Research &amp; Education. Your e-mail address is never shared with third parties without your express consent.</p>
			<h2>Our Commitment to Data Security</h2>
			<p>Food Allergy Research &amp; Education implements physical, electronic, and managerial procedures to ensure that your personal information is protected at all times. Our servers are housed in an off-site, secured co-location facility. Employee access to personal information is strictly on a need-to-know basis. All employees are made aware of the Privacy Policy and of any updates or changes to it. Employees are reminded of the importance of protecting the privacy of our donors and Internet site users.</p>
			<h2>Your Child's Privacy</h2>
			<p>We may collect your child&#8217;s personal information such as name, e-mail address, allergies, date of birth, gender, and postal address in order to register him or her in Food Allergy Research &amp; Education activities such as school programs or contests.</p>
			<p>Your child&#8217;s personal information is subject to all of the terms of this privacy policy.&#160;</p>
			<h2>Your Privacy Rights Under California Law</h2>
			<p>Websites owned by organizations that operate in California must comply with the privacy practices outlined in California privacy bill S.B.27 pertaining to the collection and use of personal information in direct marketing activities.</p>
			<p>As discussed throughout this Policy, Food Allergy Research &amp; Education honors your requests concerning your own personal information as it pertains to online and postal, and telemarketing communications as well as list rentals and exchanges.</p>
			<p>If you prefer not to receive e-mail communications or postal mail&#160;or telephone calls from Food Allergy Research &amp; Education, please notify us by emailing <a href="mailto:contactfare@foodallergy.org">contactfare@foodallergy.org</a> or calling 800-929-4040.&#160;</p>
		</div>
		<div class="col-sm-4 col-xs-12 right ">
			<h1>National Offices</h1>
			<h2>National Headquarters</h2>
			<address>
				<div class="vcard">
					<div class="street-address">7925 Jones Branch Drive</div>
					<div>Suite 1100</div>
					<div>
						<span class="locality">McLean</span>, 
						<span class="region">VA</span>, 
						<span class="postal-code">22102</span>
						<span class="country-name">USA</span>
					</div>
					<div class="tel">Toll-Free: <a href="tel:18009294040">800-929-4040</a></div>
					<div class="tel">Main: <a href="tel:7036913179">703-691-3179</a></div>
					<div class="fax">Fax: 703-691-2713</div>
				</div>		
			</address>
		</div>
	</div>
	<div style='clear:both'></div>
</div>