<div class="sitemap-section">
	<div class="section-wrapper">
		<ul class="safe-fare-breadcrumb">
			  <li><a href="/">Home > </a></li>
			  <li><a href="/sitemap" class='active'>Sitemap</a></li>
		</ul>
		<div class="col-sm-8 col-xs-12">
			<h1>Sitemap</h1>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li><a href="/about">About SafeFARE</a></li>
				<li><a href="/find-a-restaurant">Find a Restaurant</a></li>
				<li><a href="/for-diners">For Diners</a></li>
				<li><a href="/for-restaurants">For Restaurants</a></li>
				<li><a href="/users/sign_up">Sign Up</a></li>
			</ul>
		</div>
	</div>
</div>