<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <p>
    CONGRATS<br/>
    </p>
   
    <em>SafeFARE is a program of Food Allergy Research &amp; Education (FARE), the leading organization working on behalf of the 15 million Americans with food allergies. FARE’s mission is to find a cure for food allergies and to keep individuals with food allergies safe and included. Learn more at <a href='http://www.foodallergy.org'>www.foodallergy.org.</a></em>
  </body>
</html>