<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <p>
     Thank you for adding your restaurant, <%= @restaurant.name %>, to the SafeFARE database. The SafeFARE team will review the information you provided and will respond within two business days. If we need more information before approving your listing, you will receive a detailed email from our team.<br/>
    </p>
    <p>
      Once your listing is approved, you can log in at any time to update your information, including listing additional employees who have received allergen training via the ServSafe Allergens Online Course or AllerTrain program.
    </p>
    <p>If you have any questions, please reply to this email and we will be happy to assist you. Thank you again for your commitment to providing a safe and enjoyable dining experience to people with food allergies!</p>
    <p>Sincerely,</p>
    <p>The SAFEFARE Team</p>
    <em>SafeFARE is a program of Food Allergy Research &amp; Education (FARE), the leading organization working on behalf of the 15 million Americans with food allergies. FARE’s mission is to find a cure for food allergies and to keep individuals with food allergies safe and included. Learn more at <a href='http://www.foodallergy.org'>www.foodallergy.org.</a></em>
  </body>
</html>