
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <p>
     User, <%= @user.name %> has just added their restaurant, <%= @restaurant.name %> to our database. Please review the information they provided and approve or contact them at their email, <%= @user.email %> if we need more information.
    </p>
  
  </body>
</html>