
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <p>
     User, <%= @user.name %>, has just deleted all of their employees.  The restaurant, <%=@restaurant.name%> has now been automatically unapproved. Please review their information and contact them at their email, <%= @user.email %> if we need more information.
    </p>
  
  </body>
</html>