<style>
.active{
	display:block;
}
</style>
<div class="edit-restaurant-section">
	<div class="alert notice"><%= notice %><%= alert %></div> 
	<div class="section-wrapper">
		<% if current_user.id != @restaurant.user_id %>
			<p> This restaurant does not belong to you </p>
		<% else %>
			<% if @restaurant.approved != true %>
				<h5> This Restaurant has <span style='color:red'> Not Yet </span> Been Approved by The SafeFARE Staff </h5>
			<% end %> 
			<h2 class="orange-header padding-left"><%=@restaurant.name%></h2>
			<%= render 'edit_restaurant_form' %>
		<%end%>
		<div style='clear:both'></div>	
	</div>
</div>
<script>
var start_length = $('.aware-cont').length;
$('.remove_fields').click(function(event){
 	if ($('.aware-cont').length > start_length){
		$('.aware-cont').last().remove()
	}
})
</script>