  <div class="col-sm-12" style='text-align:center;'>
      <div class="center error">
        <h1>You've ended up in the wrong place</h1>
        <%= link_to "Get Me Out Of Here!", '/for-restaurants', class:'nav-link' %>
      </div>  
  </div>
   