
<div class="new-restaurant-section" style='padding:20px 0px;'>
	<div class="alert notice"><%= notice %><%= alert %></div>	
	<div class="section-wrapper">
		<div class="col-sm-12">
			<h1>Add Your Restaurant</h1>
			<p style='text-align:left; width:60%; float:right; margin:0px 15% 15px 0px; clear:both'>Restaurant listings in the SafeFARE database must be approved by the SafeFARE team before publication on our site. Please enter the information requested in the fields below.</p>
		</div>
		<%= render 'new_restaurant_form' %>
	</div>
</div>
<div class="modal fade" id="instructions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class="modal-title no-padding" id="myModalLabel">What You Will Need</h1>
      </div>
      <div class="modal-body" style='padding-top:10px;'>
        <h2>Before you get started, it will be helpful for you to have the following information on hand:</h2>
        	<ul style='padding-top:10px'>
        		<li>* The total number of employees at your restaurant</li>
        		<li>* The names of employees who have completed the ServSafe Allergens course or AllerTrain program, with their certificate numbers/expiration dates</li>
        		<li>* A Valid Email Address</li>
        	</ul>
        <h2 style='margin-top:15px;'>Optional information, which you may also add after your initial registration is approved, includes:</h2>
        	<ul style='padding-top:10px'>
        		<li>* Your restaurant’s social media URLs (Facebook, Twitter)</li>
        		<li>* Your restaurant’s AllergyEats profile</li>
        		<li>* Your restaurant logo and an image, such as a photo of your dining area or a signature dish. </li>
        	</ul>
        	<p class='required_field' style='padding-top:20px'>The SafeFARE team will review your listing and send a response within two business days. </p>
      </div>
 
    </div>
  </div>
</div>
	
 
 <script type="text/javascript">
 $('input[type="submit"]').click(function(e){
	elements = $('.validate');
	var counter = 0; 
	$.each(elements,function(index,value){ 
		if ( $("."+value.className.split(' ')[3]+" input").val() == '' ){
			$("."+value.className.split(' ')[3]+" .feedback div").html('&otimes;'); 
			$("."+value.className.split(' ')[3]+" .feedback").css('color', 'red');
			counter ++;	
		}else{
			$("."+value.className.split(' ')[3]+" .feedback div").html('&#10003;'); 
			$("."+value.className.split(' ')[3]+" .feedback").css('color', 'green');
		}
	})
	if ($('.emp_name').length == 0) { alert('Please provide at least one valid employee'); counter ++}
	if (counter > 0) {  e.preventDefault(); }

})

	$(document).ready(function(){
		initialize();
		$('#instructions').modal();
		
		 $('.remove_fields').click(function(event){
		 	if ($('.aware-cont').length > 1){
				$('.aware-cont').last().remove()
			}
		})
	
	})
 </script>