<div class="new-restaurant-section" style='padding:20px 0px;'>
	<div class="section-wrapper">
		<h2 class="orange-header">Add Your Restaurant</h2>
		<%= render 'new_restaurant_form' %>
	</div>
	<div style='clear:both'></div>
</div>

 
 <script type="text/javascript">
	$(document).ready(function(){
		initialize();
	})
 </script>