// Variables
$orange: #EC4423;
$orange-hover: #ff592a;
$border:#AD2D0A;
$blue:#243772;
$hover:#3a5ad8;
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}
@mixin transition($property, $time, $ease) {
  -webkit-transition: $property $time $ease;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: $property $time $ease;  /* Firefox 4-15 */
       -o-transition: $property $time $ease;  /* Opera 10.50–12.00 */
          transition: $property $time $ease;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}


.no-padding-top{
	padding-top:0px !important;
	line-height: 17px !important;
}
.modal-footer {
	border-top: 0px solid #e5e5e5; 
}
.required_field{color:$orange;}
button.close {
	background: $orange;
	border: 0;
	cursor: pointer;
	height: 30px;
	opacity: 1;
	position: absolute;
	right: 5px;
	top: 5px;
	width: 30px;
	-webkit-appearance: none;
	z-index: 5;
}
.clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}
//Globals
p,a,h1,h2,li,address{font-family:'proxima-nova-condensed';font-style: normal;margin:0px;}
a, a:link, a:visited{color:$blue;}
h2.small-thick{
	font-weight:600;
	color:white;
	font-size:21px;
	letter-spacing:.05em;
	font-family:'proxima-nova';
}
ul{margin:0px; padding:0px;list-style:none;}
ul li{margin:0px; padding:0px;}
input{@include border-radius(0px);}
.padding-top{padding-top:15px;}
p{
	margin: 0px 0px 15px;
	color: inherit;
	font-size: 16px;
	line-height: 150%;
}
a{text-decoration:none;color:inherit}

.section-wrapper{
	max-width:970px;
	margin: 0 auto;
	padding: 0 0 40px;
	ul {
		list-style: none;
	}
	a {
		font-size: 16px;
		line-height: 150%;
	}
	@extend .clearfix;
}
.container-fluid{ min-height:595px;}
.left{ float:left; }
.right{ float:right; }
.clear { clear: both; }
.cont{padding:15px}
.padding{padding:30px;}
.no-padding{padding:0px;}
.text-center{ text-align:center;}
h1, .orange-header{color:$orange;font-weight:300;font-family:'proxima-nova'; font-size:28px;padding-bottom:20px;}
h2, .blue-header{color:$blue;font-weight:500;font-family:'proxima-nova'; font-size:20px;}
hr { border-color: $blue;clear:both;@extend .clearfix; }
a.nav-link, .nav-link, form input[type="submit"] {
	background:$blue;
	color:white;
	cursor: pointer;
	display: block;
	width:180px;
	text-align: center;
	text-decoration: none;
	font-size:17px;
	letter-spacing: 0.05em;
	margin-top:15px;
	 -webkit-transition: background .5s ease;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: background .5 ease;  /* Firefox 4-15 */
       -o-transition: background .5 ease;  /* Opera 10.50–12.00 */
          transition: background .5 ease;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
	padding: 0;
	div {
		padding: 7px 0px;
	}
	a{
		color:white;
		display: block;
		width: 100%;
		font-weight: 600;
		letter-spacing: 0.05em;
		padding: 7px 0;
		text-decoration: none;
	}
	&.orange {
		background: $orange;
		&:hover {
			background: $orange-hover;
		}
	}
	& + .nav-link {
		margin-left: 10px;
		margin-top: 0;
		float: left;
	}
}
a.nav-link, form input[type="submit"] { padding: 7px 0; }
.section-wrapper .safe-fare-breadcrumb{
	font-size: 14px;
	margin: 20px 0 30px;
	padding-left: 15px;
	width:100%;
	@extend .clearfix;
	li{
		float:left;
		list-style:none;
		padding:1px;		
		a{
			text-decoration:none;
			font-size: inherit;
			font-weight:600;
		}
		a.active{
			color:$orange;
		}
	}
}
.check input{margin-top: 15px;}
.nav-link:hover{background:$hover;}
// Nav
.search{
	.section-wrapper { padding-bottom: 20px; }
	height:100%;
	background:$orange;
	color:white;
	.safeFare-icon{
		margin-top:40px;
		img{
			max-width:100%;
		}
	}
	.advanced-link { float: right; margin-right: 50px; }

	h2{margin:37px 0 0px;}
	p{font-weight: 300; margin:0px 0px 5px;}
	input{
		border:0px solid white;
		height:45px;
	}
	input#search, input#address {
		width:44.5%;
		background:white;

		background-image: image-url("find.png");
		background-position:0px 0px;
		background-repeat:no-repeat;
	    padding-left:60px;
	     -webkit-transition: background-position 1s ease, padding-left 1s ease;  /* Chrome 1-25, Safari 3.2+ */
	     -moz-transition: background-position 1s ease, padding-left 1s ease;  /* Firefox 4-15 */
	       -o-transition: background-position 1s ease, padding-left 1s ease;  /* Opera 10.50–12.00 */
	          transition: background-position 1s ease, padding-left 1s ease;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
    }
	input#address{
		background-image: image-url("near.png");
	    padding-left:65px;
	}
	input#address:focus, input#search:focus{
		background-position:-60px 0px;
		padding: 8px 10px 7px;
	}
	input#submit-search{
		display: inline-block;
		float:right;
		width:44px;
		height:44px;
		-webkit-transition: background-position .3s ease;
		   -moz-transition: background-position .3s ease;  /* Firefox 4-15 */
	         -o-transition: background-position .3s ease;  /* Opera 10.50–12.00 */
	            transition: background-position .3s ease;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
		margin:0px;
		@include border-radius(0px);
		background-image: image-url("search.gif");
		background-position: 0px 0px;
	}
	input#submit-search:hover{
		background-image: image-url("search.gif");
		background-position: 0px 44px !important;

	}
}
.nav-full-bar{
	height:50px;
	background:$blue;
	ul{
		width:100%;
		margin:auto;
		padding:0px;
		li{
			width:20%;
			float:left;
			@include transition(background, .5s, ease); 
			text-align: center;
			color:white;
			list-style: none;
			height:50px;
			a{
				color:white;
				display:block;
				font-family: 'proxima-nova-condensed';
				font-size:18px;
				font-weight: 600;
				height:100%;
				line-height: normal;
				padding:15px 0;
				text-decoration: none;
			}
		}
		li:hover{
			background:$hover;
		}
	}
}
.nav-full-bar ul li.active{
	background:white;
	a{
		color:$blue;
		display:block;
	}
}
.tab-content{
	background:#f2f5ff;
}
ul.nav a:hover { background: $orange !important; }
nav#main-nav{margin-bottom:0px;}
// footer
.footer-section {
	background: $orange;
	min-height: 134px;
	position:absolute;
	width: 100%;
	.contact-links{
		li{
			float:left;
			padding:10px 5px;
			&:first-child { padding-left: 0; }
		}
	}
	a{
		font-size:13px;
		color:white;
		font-weight:100;
		font-family:'proxima-nova-condensed';
		letter-spacing: .03em;
		line-height: normal;
	}
	.copyright{
		color:white;
		margin-top:20px;
		p{
			font-size:13px;
			font-weight:100;
			margin: 0;
		}
	}

	.nav-link{
		width:100%;
		margin:auto;
		padding:10px 0px !important;
		margin-top:0px;	
		margin-bottom:15px;	
		cursor:pointer;
		font-family:'proxima-nova-condensed';		
		a, p, div, span{
			font-weight:400;
			font-family:'proxima-nova-condensed';
			font-size:18px;
			line-height: normal;
		}
	}
	.food-allergy-links.padding{
		padding: 30px 15px;
		p{
			color:white;
			padding-top:2.5px;
			font-size:13px;
			font-weight:100;
		}
	}
}
nav#main-nav{
	width:100%;
	background:$orange;
	border-radius:0px;
	height:65px;
	border-bottom:1.5px solid $border;
	.navbar-inner{
		max-width:970px;
		margin:auto;
	}
	.nav{float:left;}
	.sign-in{
		float:right;
	}	
}
form input[type="submit"] {
	background: $blue;
	border: none;
	box-shadow: none;
	color: white;
	filter: none;
	-ms-filter: none;
	font-family: 'proxima-nova-condensed';
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	float: none;
	letter-spacing: normal;
	line-height: 22px;
	margin: 0;
	text-shadow: none;
	width:180px;
	&:not(.disabled):hover {
		background: $hover;
		border: none;
		box-shadow: none;
		filter: none;
		text-shadow: none;
	}
}
.form-row{
	clear:both;
	padding: 5px 0px;
	@extend .clearfix;
	.form-label{
		float:left;
		color:$blue;
		padding:10px 20px 10px 0px;
		width:25%;
		text-align: right;
		font-family: 'proxima-nova';
		font-weight: 600;
	}
	.form-label.text-left{
		text-align: left;
	}
	.feedback{
		float: left;
		font-size:25px;
		padding:5px 10px;
		max-width: 10%;
	}
	.input, input[type="text"], input[type="email"], input[type="file"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"] {
		float:left;
		width:65% !important;
		input[type="text"], input[type="email"], input[type="file"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"] {
			width:100% !important;
		}
		textarea {
			width: 100%;
			max-width: 100%;
		}
	}
	.no-label-wrap { float: left; margin-left: 25%; width: 65%; }
	a {
		margin-top: 0;
	}
}
.disclaim{
	width: 60%;
float: right;
margin-right: 15%;
padding-bottom:5px;
}
.role-click a{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
	display: inline;
	width: 1px;
	height: 1px;
	padding: 0px;
}
.map-wrap { 
	height: 0;
	overflow: hidden;
	@include transition(height, 0.5s, ease); 
	&.active {
		height: 300px;
	}
	.gm-style-iw { h1 { padding: 0; }}
}
#map-canvas{
	width:100%;
	height:300px;
}

.alert {
position:absolute;
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  display:none;
}
#alert_modal{
	width:600px;
	margin:auto;
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
}
input[type="file"] {
	display: inline-block;
}
.normalize{
	float:left;
	padding: 21px;
font-size: 16px;
}
.rest-link, .modalOpen{
	color:$blue;
	font-weight: 600;
	font-size:16px;
}
.modalOpen:hover{
	text-decoration:underline;
}
.modal-dialog{
	width:80%;
	max-width:900px;
	.modal-body{
		color:black;
		font-weight: normal;
		font-size:16px;
		padding: 40px 15px;
		@extend .clearfix;
		h1 { padding-left: 15px; }
		address { padding-bottom: 20px; }
		img { max-width: 100%; }
		.image-cont { text-align: left; margin-top: 20px; }
		.logo-wrap { text-align: right; }
		.info { @extend .clearfix;clear:both; }
		.description { padding-bottom: 20px; }
		.form-row{
			padding:0px;
			border-top:1px solid $blue;
			p { padding: 5px }
		}
		.form-label{
			width:40%;
			color:black;
		}
		.input{
			width: 60% !important;
		}
		.form-label, .input{
			padding: 5px 10px 5px 0px;
		}
	}
}
.show-section {
	color:black;
	font-weight: normal;
	font-size:16px;
	padding: 40px 15px;
	@extend .clearfix;
	h1 { padding-left: 15px; }
	address { padding-bottom: 20px; }
	img { max-width: 100%; }
	.image-cont { text-align: left; margin-top: 20px; img { max-width: 300px; } }
	.logo-wrap { text-align: right; img { max-width: 200px; } }
	.info { @extend .clearfix;clear:both; }
	.description { padding-bottom: 20px; }
	.form-row{
		padding:0px;
		border-top:1px solid $blue;
		p { padding: 5px }
	}
	.form-label{
		width:40%;
		color:black;
	}
	.input{
		width: 60% !important;
	}
	.form-label, .input{
		padding: 5px 10px 5px 0px;
	}
}
.center.error{
	width:65%;
	margin:30px auto;
	a{
		margin:auto;
	}
}
.role-group{

	padding:10px;
	font-size: 14px;
background: white;


}
.search-field{padding:5px 0px;}
.placeholder { color: #aaa; vertical-align:center;}
 .mobile-menu {
	 display: none; }
.white-space { height: 30px;clear: both; }

.action_container input{float:left; margin-left:25%;}
.custom-pag{
	.pagination{
		span.page,span.page:hover {
			background:none;
			border:0px solid white;
			text-shadow:none;
			box-shadow:none;
			a{
				box-shadow:none;
				background:none;
				font-size:14px;
				color:$blue;
				text-shadow:none;
				border:0px solid white;	
			}
		}

		span.current, span.page.current:hover {
		
			color:$blue;
			font-size:14px;
			text-shadow:none;
			box-shadow:none;
			background:none;
			border:0px solid white;

		}
		span.page:hover{
			text-decoration: underline;
		}
	}
}
.no-padding{
	padding:0px;
}

.for_diners{
	width:262px;
	display:block;
	margin:auto;
	height:140px;
	-webkit-transition: background-position .3s ease;
		   -moz-transition: background-position .3s ease;  /* Firefox 4-15 */
	         -o-transition: background-position .3s ease;  /* Opera 10.50–12.00 */
	            transition: background-position .3s ease;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
		
		background-image: image-url("food-resources.png");
		background-position: 0px 140px;
	}
	.for_diners:hover{
	
		background-position: 0px 0px !important;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"]{
	height:29px;
}
.kids input{
	margin-top:0px;
}
#state_search, #within{
	width:15% !important;
}