// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$orange: #EC4423;
$orange-hover: #ff6446;
$border:#AD2D0A;
$blue:#243772;
$hover:#3a5ad8;
$highlight: #00b4e9;
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}
@mixin transition($property, $time, $ease) {
  -webkit-transition: $property $time $ease;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: $property $time $ease;  /* Firefox 4-15 */
       -o-transition: $property $time $ease;  /* Opera 10.50–12.00 */
          transition: $property $time $ease;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
.clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}
// home-info-section
.info-section{
	height:595px;
	background-color: white;
	
	
	.section-wrapper{
		height:100%;
		position:relative;
		.grad-a{
			height:100%;
			width:596px;
			position:absolute;
			z-index:1;
			left:-50px;
			background-image: image-url("gradient_a.png");
			background-repeat:repeat-y;

		}
		.grad-b{
			height:100%;
			width:596px;
			position:absolute;
			z-index:1;
			right:-50px;
			top:0px;
			background-image: image-url("gradient_b.png");
			background-repeat:repeat-y;

		}
		.home-background{
			background-image: image-url("safe-fare-family.jpg");
			background-position: top center;
			position:absolute;
			top:0px;
			left:-50px;
			right:-50px;
			bottom:0px;
			
		}
	}
	.info-box{

		position:absolute;
		bottom:0px;
		padding:0px;
		width:100%;
	
		z-index:2;
		background-image:image-url('white.png');
	
		.for-restaurant{
			.nav-link{
				width:100%;
				a{
					display: block;
					font-weight:400;
					font-family:'proxima-nova-condensed';
					padding:10px 0px !important;				
				}
			}
		}
		.vid{
			img{
				margin-top:20px;
				width:100%;
			}
		}

	}
}
// about
.about-section, .contact-section, .diners-section {
	.right-section {
		margin-top: 50px;
	}
	ul{
		padding: 0 0 0 20px;
		margin: 0 0 15px;
		list-style-type: disc;
	}
	ul.link-list { list-style: none; padding-left: 0; line-height: 120%; li, a { line-height: 120%; margin-bottom: 5px; } }
	img{
		max-width:100%;
	}
	h2 {
		margin: 0 0 5px;
		font-weight: 500;
	}
	address {
		font-size: 15px;
		font-style: normal;
		line-height: 150%;
	}
	.contact-btn {
		margin: 0 0 45px;
	}
	.margin-bottom {
		margin-bottom: 45px;
	}
}


// contact
#new_contact_form{
	p{
		float:left;
		color:$blue;
		padding-top:10px;
		font-family: 'proxima-nova';
		font-weight: 600;
	}

	.form-row{
		clear:both;
		padding:5px 0px;
		@extend .clearfix;
	}
	.i-am-cat {
		padding: 10px 0;
		width: 75%;
		.input {
			width: 100% !important;
		}
		label{
			color:$blue;
			padding:0px 10px;
			font-family: 'proxima-nova';
			font-weight: 600;
		}
	}
}
.contact-form .form-row .input input[type="text"], .contact-form .form-row .input input[type="email"] { width: 100% !important; }
.contact-form, .login-form, .blue-form {
	background:#f2f5ff;
	clear: both;
	padding:25px;
	margin-bottom:40px;
	font-family:'proxima-nova-condensed';
	@include transition(height, 1s, ease);
	@extend .clearfix;
	#contact_form_message{
		height:200px;
	}
	input[type="submit"].login {
		width: 44%;
		float: left;
	}
	.nav-link{
		margin-left: 25%;
		&.signup {
			background: $orange;
			float: right;
			margin: 0 0 0 4%;
			width: 44%;
			&:hover {
				background: $orange-hover;
			}
		}
	}
	.no-label-wrap .nav-link { margin-left: 0; }
}
.i-am-cat{
	.input input{
		width:auto !important;
		float:left;
	}
}

