$orange: #EC4423;
$border:#AD2D0A;
$blue:#243772;
$hover:#3a5ad8;

@media screen and (min-width: 768px) { /* Insert all styles should go inside this */

 .mobile-menu {
	 display: none; }

	nav#main-nav{
		width:100%;
		background:$orange;
		border-radius:0px;
		height:65px;
		
		border-bottom:1.5px solid $border;
		.navbar-inner{
			max-width:970px;
			margin:auto;
		}
		.nav{float:left;}
		.sign-in{
			float:right;
		}
		
	}
.disclaim{
	width: 60%;
float: right;
margin-right: 15%;
padding-bottom:5px;
}
	.contact-links{
		padding-left:15px;
	}
	.food-allergy-links{
		padding-right:15px;
	}
	.role-group{ float:left; }
}