$orange: #EC4423;
$border:#AD2D0A;
$blue:#243772;
$hover:#3a5ad8;
@media screen and (max-width: 920px){
@mixin transition($property, $time, $ease) {
  -webkit-transition: $property $time $ease;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: $property $time $ease;  /* Firefox 4-15 */
       -o-transition: $property $time $ease;  /* Opera 10.50–12.00 */
          transition: $property $time $ease;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}	
	input#submit-search{
		float:right;
		width:44px;
		height:44px;
		background:$blue;
	@include transition(height, 1s, ease); 
		width: 90% !important;
		margin-top: 10px !important;
		float:none !important;
		background-image: image-url("search.png") !important;
		background-repeat:no-repeat;
		background-position:top center !important;
	}
	#basic input#submit-search{
		width:50% !important;
		background-image:none !important;
	}
	input#submit-search:hover{
		background:$hover;

		background-repeat:no-repeat !important;
		background-position:top center !important;
	}
	.safeFare-search {
		h2, p { display: inline-block; width: 90%; }
		.advanced-link { float: none; margin: 0; text-align: center; a { display: block; width: 90%; }}
	}

	.hide-on-medium {
		display:none !important;
	}
	.role-group{
			float:none;
		}
	.show-section {
		.map-and-image { text-align: center; }
		.image-cont { text-align: center; }
	}
	.nav-link.signup.orange{
		margin: auto;
	}
}