// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$orange: #EC4423;
$border:#AD2D0A;
$blue:#243772;
$hover:#3a5ad8;
.center{
	text-align:center;
}
.clear{
	clear:both;
	}
.margin-top{
	margin-top:15px;
}
a.add_an_employee{
	text-decoration:none;
}
a.add_an_employee:hover{
	text-decoration:underline;
}
.image{
	width:200px;
	margin:auto;
	img{
	max-width:100%;
	}
}
.hide_form{
	display:none;
}

#restaurant_neighborhood_chosen.chosen-container .chosen-results li.no-results{
	display:none !important;
}
#check{
	width:100%;
}

.add_fields, .sub{
	background:$blue;

	text-align: center;
	font-size:17px;
	padding:7px 15px;
	
	
	margin:auto;
	margin-top:30px;
	 -webkit-transition: all .5s ease;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all .5 ease;  /* Firefox 4-15 */
       -o-transition: all .5 ease;  /* Opera 10.50–12.00 */
          transition: all .5 ease;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
		
		min-width:180px;
		letter-spacing: 0.05em;
		text-decoration: none !important;
		color:white !important;
		font-weight: 600;
		letter-spacing: 0.05em;
	}
	.sub{
	float: right;
	margin-left: 5px;
	margin-top: -9.5px;
	padding-top: 10px;
	padding-bottom: 9px;
	}
.add_fields:hover, .sub:hover{
	background:$hover;
}
.submit.inactive{
	display:none;
}

#check {
width: 100%;
display: block;
height: 100%;
cursor: pointer;
}
#check:hover{
	font-weight:bold;
}
.form-row.emp_role{
	border-bottom: 2px solid #cccccc;
	padding-bottom: 25px;
	margin-bottom: 15px;
}
.form-row.emp_role.edit{
	padding-bottom:50px;
}
.new-restaurant-section {
	.restaurant_total_employees {
		margin: 10px 0;
	}
	select, .chosen-container {
		width: 100%;
		margin: 10px 0;
	}
	input[type=file] {
		margin: 10px 0;
	}
}
