// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$orange: #EC4423;
$border:#AD2D0A;
$blue:#243772;
$hover:#3a5ad8;
.search-section{
	.search input#submit-search {
float: right;
width: 44px;
height: 44px;
-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;
margin: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
-ms-border-radius: 0px;
-o-border-radius: 0px;
border-radius: 0px;
background-image: url(/images/search.gif);
background-position: 0px 0px;
}
	.form-wrap{
		background:#f2f5ff;
	}
	form{
		background:#f2f5ff;
		padding: 30px 0;

	}
	ul.nav{
		li a{
			-webkit-transition: all 1s ease;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 1s ease;  /* Firefox 4-15 */
       -o-transition: all 1 ease;  /* Opera 10.50–12.00 */
          transition: all 1s ease; 
          font-family: 'proxima-nova-condensed';
          font-size:16px;
          background:$blue;
          color:white;
          font-weight:600;
          text-decoration:none;
		}
		li.active a{
			background:#f2f5ff;
			color:$blue;
		}
		li a:hover{
			background:$hover !important;
			color:white;
		
		}
		li.active a:hover{
			background:#f2f5ff;

		}
		
	}
	.find-a-restaurant {
		select, .chosen-container {
			width: 70%;
			margin: 10px 0;
			float: left;
		}
		.role-container {
			float: left;
			margin: 18px 0;
		}
		input[type="submit"] {
			clear: both;
			cursor: pointer;
			margin-top: 20px;
			margin-left: 25%;
		}
	}
	.right-side{
		text-align: center;
	}
}
.results-section{
	.tb-wrap{
		border-top: 3px solid $orange; 
	}
	.map-trig{ text-align: center; cursor: pointer; }
	.search-count { }
	.tablesorter-default .header, .tablesorter-default .tablesorter-header {
		background-position: center left !important;
		padding-left: 20px;
	}
	table{
		border-top: 3px solid $orange; 
		border-collapse: collapse;
		width:100%;
		margin:auto;
 		font-size:16px;
 		color: black;
 		font-family:'proxima-nova-condensed';
 		tr { border-bottom: 1px solid $blue; }
 		thead th { 
 			background:white;
 			color:$blue;
 			font-weight:600;
			padding:15px 4px;
		}
		td{
			padding:6px;
			vertical-align: middle;
			&.center { text-align: center; }
		}
		.reg{
			color:black;
			font-size:16px;
			font-weight: 400;

		}
		.title {
			p { margin: 0; }
			a {
				font-size:16px; color:$blue; font-weight:600;font-family:'proxima-nova-condensed';
			}
		}
	}
}