$orange: #EC4423;
$border:#AD2D0A;
$blue:#243772;
$hover:#3a5ad8;

@media screen and (max-width: 767px){ /* Insert your own breakpoint as needed */
	.or{
		display:none;
	}
	.contact-form form{
		max-width: 385px;
		margin:auto;	
		input#user_email, input#user_password{
			width:100% !important;
		}
	}
	#basic form{
		max-width: 385px;
		margin:auto;
		padding:20px;
		.form-row .form-label{width:100%;}	
		input#search, input#address{
			width:100% !important;
		}
		input#submit-search{
			width:50%;
			margin:auto;
			margin-left:0px !important;
		}
	}
	.accounts form{
		max-width: 385px;
		margin:auto;
		padding:20px;
		.form-row .form-label{width:100%;}	
		input#user_password, input#user_password_confirmation{
			width:100% !important;
		}
		.action_container input{float:left;}
		
	}
	#advanced form{
		max-width: 385px;
		margin:auto;
		padding:20px;
		.form-row .form-label{width:100%;}	
		select#state_search,select#within,.chosen-container,input#search,input#city_search, input#address, input#zip_search{
			width:100% !important;
		}
		input#submit-search{
			width:50%;
			margin:auto;
			margin-left:0px !important;
		}
		.chosen-choices{
			width:100% !important;
		}
		.role-group{
			float:none;
		}
		.small-left{
			margin-left:10px;

		}
	}
	.form-row .no-label-wrap{
			margin-left:0px;
		}
	.form-row .form-label{
		float:none;
		text-align:left;

		input{
			width: auto !important;
		}
	}
	.hide-on-medium, .hide-on-small{
		display:none !important;
	}
	.search .advanced-link a { width: 50%; display: inline-block; }
	.content-section{
		.col-sm-4.col-xs-12.right{
		
			text-align: center;
			padding-bottom: 20px;
		}
	}
	.search-section{
		.right-side{
			margin-top:25px;
		}
	}
	.about-section{
		.col-sm-4{
			margin-top:15px;
			text-align: center;
			p{
				text-align:left;
			}
		}
	}
	.contact-form {
		.nav-link {
			margin-left: auto;
			margin-right: auto;
		}
	}
	nav#main-nav{
		width:100%;
		background:$blue !important;
		border: none;
		border-radius:0px;
		height:auto;
		max-height: 50px;
		overflow:hidden;
		transition: max-height 0.5s ease;
		
	}
	#main-nav.show {
		max-height:250px;
	}
	.mobile-menu { 
		display: block; 
		text-align: center;
		#mobile-nav{
				color:white;
				cursor:pointer;
				text-decoration: none;
				font-weight:600;
				font-family:'proxima-nova-condensed';
				font-size:18px;
				letter-spacing: .03em;
				line-height: 18px;
				padding: 16px 0;
			}
			.mobile-nav-items {
				li{
					border-top: 1px solid #141E3F;
					a {
						display: block;
						padding: 6px 0;
						text-align: center;
					}
				}
				li:hover{
					background:$hover;
				}
				a{
				text-align: left;
				color:white;
				text-decoration: none;
				font-weight:600;
				font-family:'proxima-nova-condensed';
				font-size:18px;
				letter-spacing: .03em;
			}
			}
		}
	
	nav#main-nav .nav, #main-nav .nav-link, .nav-full-bar, .top, .vid img, .grad-a,.grad-b, .home-background { display: none; }
	nav#main-nav.navbar .nav>li { width: 100%; }

	.info-section{
		height:auto;
		background:white;
	}
	.safeFare-icon{
		text-align:center;
		margin-bottom:10px;
	}
	.safeFare-search{
		clear: both;
		&.right{
			float:none !important;
			width:95%;
			margin:auto;
			text-align:center;
			h2,p{
				text-align:left;
				margin-top:0px;

			}
			input{
				width:100%;
				margin-bottom:10px;
			}
			input#submit-search{
				float:none !important;
				max-width:100%;
			}
		}
	}
	.info-box{
			position:relative !important;
			bottom:0px;
			padding:0px;
			height:auto !important;
			width:100%;
			background:white;
		}
		.about{
			height:auto !important;
			.cont{
				padding:30px;
			}

		}
		.vid{
			height:240px !important;
			background-image: image-url("family.jpg");
			background-position:top center;
		}
		.for-restaurant{
			.cont{
				padding:30px;
			}
		}

	
	input#submit-search{
		
			width: 50%% !important;
	}
	.search-section .find-a-restaurant {
		.nav-link {
			margin-left: auto;
			margin-right: auto;
		}
	}

	.find-a-button, .resources-button {
		display:none;
	}
	
	


	.footer-section .contact-links li { padding-left: 3px; padding-right: 3px; }
}



	@media screen and (max-width: 1060px){
		.info-section .section-wrapper{
			overflow:hidden;
		}
	}
