<p>Hello <%= @resource.email %>!</p>

<p>We have received your request to reset your password for our website. For account security, the password reset link is valid for only 24 hours.
</p>
<p>If you have questions or comments regarding your experience on our website, please reply to this email and we will be happy to assist you.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<p>Kind Regards,</p>
<p>SafeFARE Webmaster</p>

<em>SafeFARE is a program of Food Allergy Research &amp; Education (FARE), the leading organization working on behalf of the 15 million Americans with food allergies. FARE’s mission is to find a cure for food allergies and to keep individuals with food allergies safe and included. Learn more at <a href='http://foodallergy.org'>www.foodallergy.org</a>.
</em>